@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-primary: #0f766e;
  --color-secondary: #14b8a6;
  --color-accent: #5eead4;
  --color-neutral: #f8fafc;
  --color-base-100: #ffffff;
  --color-base-200: #f1f5f9;
  --color-base-300: #e2e8f0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-neutral);
  color: #0f172a; /* Slate 900 */
}

.font-serif {
  font-family: var(--font-serif);
}

.font-sans {
  font-family: var(--font-sans);
}
